# Virtual Environment
.venv/
venv/
env/
ENV/
*.pyenv

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*_cache
nosetests.xml
coverage.xml
*.cover
*.log
*.lock
.hypothesis/
.pytest_cache
*test_*.json


# Environments
.env
.env.*
*.env

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
*.swo
*~

# Temporary files from tests
gaia_test*.csv
gaia_test*.txt
gaia_test*.download
gaia_test*.pdf
gaia_test*.jpg
gaia_test*.png
gaia_test*.xlsx

# Local test results
local_test_results*.json
test_results.json