arxiv>=2.1.0
beautifulsoup4>=4.9.0
duckduckgo-search>=4.0.0
google-generativeai>=0.4.0
gradio[oauth]>=4.0.0
groq>=0.4.0
huggingface-hub>=0.20.0
ipykernel>=6.0.0
ipython>=7.0.0
langchain-community>=0.0.30,<0.1.0
langchain-experimental
langchain-google-genai
langchain-groq
langchain-huggingface
lancedb>=0.21.2
langchain-openai<=0.3.14
langchain
langchainhub
supabase>=2.0.0
lark-parser>0.10.0
langgraph
lorem-text>2.0.0
loguru>=0.7.0
numpy>=1.21.0
openai>=0.27.0
openpyxl-stubs<=0.1.25
openpyxl>=3.0.0
pandas-stubs>=1.2.0
pandas>=1.5.0
Pillow>=9.0.0
pip>=24.0.0
pytesseract>=0.3.8
python-dotenv>1.0.0
PyYAML-include>=0.1.0
PyYAML>=5.4.1
requests>=2.25.0
sentence-transformers>=2.6.0
sgmllib3k>=1.0.0
streamlit>=1.20.0
tavily-python>=0.3.0
types-PyYAML>=5.4.1
wikipedia>=1.4.0
yt-dlp>=2023.0.0